<div id="modal-remove" class="hide">
    <div class="content">
        <div class="header">
            <h1>Digite o nome e a senha da entidade:</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="remove">
            
            <div class="search field">
                <label for="name">Nome da entidade</label>
                <input type="text" name="name" placeholder="Digite o nome da entidade"></input>

                <label for="password">Senha de acesso</label>
                <input type="password" name="password" placeholder="Digite a senha de acesso"></input>

                <button>
                    <h3>Remover</h3>
                </button>
            </div>
        </form>
    </div>
</div>